.ilustracao {
    position: relative;

    button {
        background: url("../assets/img/360-degree-rotate-icon.svg");
        background-repeat: no-repeat;
        height: 3rem;
        width: 3rem;
        border: none;
        position: absolute;
        right: 5em;
        cursor: pointer;

        &:hover {
            width: 3.5rem;
            transition: .3s;
        }
    }

    img {
        width: 55vw;
    }
}