@import './variaveis';

*{
    padding: 0;
    margin: 0;
}

html, body {
    background-color: $cor-de-fundo;
    color: $cor-da-fonte;
    font-family: $fonte-principal;
    height: 100vh;
    display: flex;
    align-items: center;
}

main {
    display: flex;
    position: relative;
    gap: 5em;
    align-items: center;
}
