@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;600&family=Lato:wght@300;400&display=swap');
$cor-de-fundo:#D9CDF7;
$cor-da-fonte:#271A45;
$fonte-principal:'Crimson Pro', serif;
$fonte-secundaria: 'Lato', sans-serif;